openapi: 3.0.3
info:
  title: SetTimes API
  version: "2026-06"
  description: |
    Live API contract for the current Cloudflare Pages + D1 implementation.

    Highlights:
    - Public schedule, discovery, band, feed, subscription, and telemetry endpoints
    - Invite-based admin signup with session cookies, CSRF protection, and optional TOTP MFA
    - Role-based admin routes for events, venues, bands, performers, users, invites, analytics, and maintenance
  contact:
    name: SetTimes
  license:
    name: AGPL-3.0-only

servers:
  - url: https://settimes.ca
    description: Production
  - url: http://localhost:8788
    description: Local Pages development

tags:
  - name: Public
    description: Public schedule, discovery, band, feed, and telemetry endpoints
  - name: Public - Subscriptions
    description: Email subscription lifecycle endpoints
  - name: Public - Auth
    description: Activation and password-reset endpoints
  - name: Admin - Auth
    description: Invite-based signup, login, MFA handoff, and logout
  - name: Admin - Session
    description: Session, trusted-device, and identity endpoints
  - name: Admin - MFA
    description: Authenticated MFA self-service endpoints
  - name: Admin - Events
    description: Event management endpoints
  - name: Admin - Bands
    description: Performance, roster-assignment, and media endpoints
  - name: Admin - Venues
    description: Venue management endpoints
  - name: Admin - Users
    description: User administration endpoints
  - name: Admin - Invites
    description: Invite-code management endpoints
  - name: Admin - Analytics
    description: Audit and analytics endpoints
  - name: Admin - Maintenance
    description: Administrative maintenance endpoints

paths:
  /api/artists:
    get:
      tags:
        - Public
      summary: List/search the public artist directory
      description: |
        Returns artists (`band_profiles`) that have performed at one or more
        published or archived events, as `{ artists, hasMore }`. Searchable by
        name/genre and paginated. Gated by `PUBLIC_DATA_PUBLISH_ENABLED`.
      parameters:
        - name: q
          in: query
          required: false
          description: Search term matched against artist name and genre
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Page size
          schema:
            type: integer
            default: 24
            minimum: 1
            maximum: 60
        - name: offset
          in: query
          required: false
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Artist directory page
          content:
            application/json:
              schema:
                type: object
                properties:
                  artists:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        photo_url:
                          type: string
                          nullable: true
                        photo_alt_text:
                          type: string
                          nullable: true
                        genre:
                          type: string
                          nullable: true
                        origin:
                          type: string
                          nullable: true
                        performance_count:
                          type: integer
                        social:
                          allOf:
                            - $ref: "#/components/schemas/GenericRecord"
                          nullable: true
                          description: >-
                            Sanitized social_links map (safeReflectSocialLinks:
                            each value a normalized http(s) URL, an Instagram
                            handle, or null when the stored value was unsafe or
                            invalid). {} when the stored JSON was malformed;
                            null when no links are set. Consumers should still
                            sanitize before rendering (defense in depth).
                  hasMore:
                    type: boolean
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/venues:
    get:
      tags:
        - Public
      summary: List/search the public venue directory
      description: |
        Venues that have hosted one or more performances at a published or
        archived event, as `{ venues, hasMore }`. Searchable by name/city and
        paginated. Gated by `PUBLIC_DATA_PUBLISH_ENABLED`.
      parameters:
        - name: q
          in: query
          required: false
          description: Search term matched against venue name and city
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 24
            minimum: 1
            maximum: 60
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        "200":
          description: Venue directory page
          content:
            application/json:
              schema:
                type: object
                properties:
                  venues:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        location:
                          type: string
                          nullable: true
                        performance_count:
                          type: integer
                        event_count:
                          type: integer
                  hasMore:
                    type: boolean
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/venues/{id}:
    get:
      tags:
        - Public
      summary: Get a venue with its lineup
      description: |
        Returns a venue plus its upcoming and past performances at published or
        archived events. Gated by `PUBLIC_DATA_PUBLISH_ENABLED`.
      parameters:
        - name: id
          in: path
          required: true
          description: Venue id
          schema:
            type: integer
      responses:
        "200":
          description: Venue detail with lineup
          content:
            application/json:
              schema:
                type: object
                properties:
                  venue:
                    type: object
                  upcoming:
                    type: array
                    items:
                      type: object
                  past:
                    type: array
                    items:
                      type: object
        "400":
          description: Invalid venue id
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/stats/public:
    get:
      tags:
        - Public
      summary: Privacy-safe aggregate platform stats
      description: |
        Aggregate-only counts, sums, and a top-N-by-popularity band list for the
        public stats page (social proof for the Vol-17 push). Never returns any
        individual/PII/joinable-to-a-person data: `fans_following` is a
        `COUNT(*) WHERE verified = 1` over `band_follows` (no emails, tokens, or
        IPs are ever selected), and `routes_shared`/`route_views` are a
        `COUNT`/`SUM(view_count)` over `share_links` (no slugs, band names, or
        performance IDs). Gated by `PUBLIC_DATA_PUBLISH_ENABLED`. Cached 5 minutes.
      responses:
        "200":
          description: Aggregate platform stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  bands:
                    type: integer
                    description: Count of active band profiles
                  venues:
                    type: integer
                    description: Count of venues
                  events:
                    type: integer
                    description: Count of published events
                  performances:
                    type: integer
                    description: Count of performances belonging to published events
                  routes_shared:
                    type: integer
                    description: Count of share_links rows (schedules shared)
                  route_views:
                    type: integer
                    description: Sum of share_links.view_count
                  fans_following:
                    type: integer
                    description: Count of verified band_follows rows
                  page_views:
                    type: integer
                    description: Sum of page_views_daily.views
                  top_bands:
                    type: array
                    maxItems: 8
                    description: Top bands by popularity_score (falls back to alphabetical order pre-event, when all scores are zero)
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                          description: URL-safe band-name slug for display; the frontend builds its own band-page link from `name`
                        score:
                          type: integer
                          description: Rounded popularity_score
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/schedule:
    get:
      tags:
        - Public
      summary: Get the current or named public schedule
      description: |
        Returns the public schedule as `{ event, bands }`.
        This route is gated by `PUBLIC_DATA_PUBLISH_ENABLED`.
      parameters:
        - name: event
          in: query
          required: false
          description: Event slug or `current`
          schema:
            type: string
            default: current
      responses:
        "200":
          description: Public schedule response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/events/public:
    get:
      tags:
        - Public
      summary: List public events
      description: Public event discovery endpoint gated by `PUBLIC_DATA_PUBLISH_ENABLED`.
      parameters:
        - name: city
          in: query
          required: false
          schema:
            type: string
            default: all
        - name: genre
          in: query
          required: false
          schema:
            type: string
            default: all
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: upcoming
          in: query
          required: false
          description: When omitted or true, only current and upcoming published events are returned.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Public events response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicEventsResponse"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/events/timeline:
    get:
      tags:
        - Public
      summary: Get grouped event timeline
      description: Timeline response grouped into `now`, `upcoming`, and `past` buckets.
      parameters:
        - name: now
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: upcoming
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: past
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: includeBands
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: pastLimit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Timeline response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimelineResponse"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/events/{id}/details:
    get:
      tags:
        - Public
      summary: Get public event details
      description: Returns one published or archived event with band and venue detail.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Event details response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventDetailsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/events/{id}/recap:
    get:
      tags:
        - Public
      summary: Get recap stats and lineup for an archived event
      description: |
        Returns `{ event, stats, bands }` for a single **archived** event.
        `{id}` may be a numeric event ID or a slug. `stats` aggregates
        `total_sets`, `venue_count`, `first_timers`, and `returning_acts`;
        each band carries an `is_returning` flag. Gated by
        `PUBLIC_DATA_PUBLISH_ENABLED`. Cacheable (`max-age=3600`).
      parameters:
        - name: id
          in: path
          required: true
          description: Numeric event ID or slug
          schema:
            type: string
      responses:
        "200":
          description: Event recap response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventRecapResponse"
        "404":
          description: Event not found or not archived
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/bands/{name}:
    get:
      tags:
        - Public
      summary: Get public band profile
      description: |
        Returns a public band profile and published performance history.
        `{name}` may be a numeric band ID or a normalized band name.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Band profile response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicBandProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/bands/stats/{name}:
    get:
      tags:
        - Public
      summary: Get public band profile with aggregate stats
      description: Extended public band endpoint gated by `PUBLIC_DATA_PUBLISH_ENABLED`.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Band stats response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicBandStatsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/bands/{name}/follow:
    post:
      tags:
        - Public
      summary: Follow a band (double opt-in)
      description: |
        Registers an email to be notified when the band joins a lineup. The
        follow is created **unverified** and only a confirmation email is sent;
        announcement emails reach verified followers only. Bot-protected by
        Turnstile (`turnstileToken` in the body). `{name}` may be a numeric band
        ID or a normalized band name. Always responds `200` for a valid request
        regardless of whether the email already follows (no enumeration).
        `confirmUrl` is returned only when email delivery is not configured
        (local/dev) so the follow can still be confirmed.
      parameters:
        - name: name
          in: path
          required: true
          description: Numeric band ID or normalized band name
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BandFollowRequest"
      responses:
        "200":
          description: Follow accepted (confirmation email sent if new)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandFollowResponse"
        "400":
          description: Invalid email or failed bot verification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/bands/{name}/confirm-follow:
    get:
      tags:
        - Public
      summary: Confirm a pending band follow
      description: |
        Verifies a double opt-in band follow via its one-time `token` and
        renders a friendly HTML page. Idempotent: a second click changes
        nothing. Messaging is generic so the response never reveals whether a
        given token was valid.
      parameters:
        - name: name
          in: path
          required: true
          description: Numeric band ID or normalized band name
          schema:
            type: string
        - name: token
          in: query
          required: true
          description: One-time verification token from the confirmation email
          schema:
            type: string
      responses:
        "200":
          description: HTML confirmation page (valid, already-used, or expired)
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Missing or malformed token
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                type: string

  /api/bands/{name}/unfollow:
    get:
      tags:
        - Public
      summary: Unsubscribe from a band's emails
      description: |
        Deletes the band follow tied to the `token` (the unsubscribe token from
        an email footer) and renders an HTML confirmation page. Returns `200`
        whether or not the token existed (no enumeration).
      parameters:
        - name: name
          in: path
          required: true
          description: Numeric band ID or normalized band name
          schema:
            type: string
        - name: token
          in: query
          required: true
          description: Unsubscribe token
          schema:
            type: string
      responses:
        "200":
          description: HTML unsubscribe confirmation page
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Missing or malformed token
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                type: string

  /api/bands/follow-batch:
    post:
      tags:
        - Public
      summary: Batch follow bands (double opt-in)
      description: |
        Registers an email to be notified when any of the given bands joins a
        lineup. `performance_ids` is resolved to distinct `band_profile_ids`;
        one `band_follows` row per band is inserted (`verified=0`,
        `INSERT OR IGNORE`). All rows share a single `batch_token` so that
        **exactly one** combined confirmation email is sent — one Turnstile
        solve → one email, regardless of how many bands are in the batch
        (amplification mitigation). A confirmed address receives announcement
        emails only after clicking the confirm link (`verify=1`). Always
        returns `200` for valid input (no enumeration of existing follows).
        `confirmUrl` is returned only when email delivery is unconfigured
        (local/dev).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BandFollowBatchRequest"
      responses:
        "200":
          description: Batch accepted (one confirmation email sent if any follow was new)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandFollowResponse"
        "400":
          description: Invalid email, failed bot verification, or invalid performance_ids
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/bands/confirm-follow-batch:
    get:
      tags:
        - Public
      summary: Confirm a pending batch band follow
      description: |
        Verifies all pending (`verified=0`) `band_follows` rows that share the
        given `batch_token`, setting `verified=1` and clearing the token in one
        statement. Idempotent: a second click finds no matching rows (token is
        `NULL` after the first confirm) and returns the same success page.
        Messaging is generic to avoid revealing whether the token was valid.
      parameters:
        - name: token
          in: query
          required: true
          description: Shared batch_token from the confirmation email link
          schema:
            type: string
            maxLength: 256
      responses:
        "200":
          description: HTML confirmation page (success or already-confirmed)
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Missing or oversized token
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Server error
          content:
            text/plain:
              schema:
                type: string

  /api/feeds/ical:
    get:
      tags:
        - Public
      summary: Download the iCal feed
      description: Returns a public calendar feed filtered by city and genre.
      parameters:
        - name: city
          in: query
          required: false
          schema:
            type: string
            default: all
        - name: genre
          in: query
          required: false
          schema:
            type: string
            default: all
      responses:
        "200":
          description: iCal response
          content:
            text/calendar:
              schema:
                type: string
        "503":
          $ref: "#/components/responses/PublicDataUnavailable"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/metrics:
    post:
      tags:
        - Public
      summary: Ingest privacy-safe metrics
      description: Accepts a batch of allow-listed analytics events and responds with `OK` even when the payload is ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricsBatchRequest"
      responses:
        "200":
          description: Metrics payload accepted or ignored
          content:
            text/plain:
              schema:
                type: string
                example: OK

  /api/schedule/build:
    post:
      tags:
        - Public
      summary: Record a schedule-build event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleBuildRequest"
      responses:
        "200":
          description: Schedule build recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/schedule/share:
    post:
      tags:
        - Public
      summary: Create a shareable schedule snapshot
      description: |
        Persists a selected lineup for a published or archived event and returns
        a short `slug` reachable at `/s/{slug}`. Snapshots expire after 30 days.
        `band_names` must be the same length as `performance_ids` (up to 50).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleShareRequest"
      responses:
        "200":
          description: Share link created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleShareCreateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/schedule/share/{slug}:
    get:
      tags:
        - Public
      summary: Fetch a shared schedule snapshot
      description: |
        Returns the stored snapshot for a share `slug` if the link is unexpired
        and its event is still published or archived. Increments a best-effort
        view counter unless `?import=1` (the re-fetch used when applying the
        snapshot, so it is not double-counted).
      parameters:
        - name: slug
          in: path
          required: true
          description: 1–16 alphanumeric share slug
          schema:
            type: string
        - name: import
          in: query
          required: false
          description: Set to `1` on the apply re-fetch to skip the view increment
          schema:
            type: string
      responses:
        "200":
          description: Share snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleShareResponse"
        "400":
          description: Invalid slug
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Share link not found or expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/subscriptions/subscribe:
    post:
      tags:
        - Public - Subscriptions
      summary: Create a subscription and send verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionRequest"
      responses:
        "201":
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionMessageResponse"
        "200":
          description: Existing unverified subscription reused and verification resent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionMessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Bot verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/subscriptions/verify:
    get:
      tags:
        - Public - Subscriptions
      summary: Verify a subscription token
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Verification succeeded and the client is redirected to the subscribe page
        "400":
          description: Invalid or expired token
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Token not found
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Verification failed
          content:
            text/plain:
              schema:
                type: string

  /api/subscriptions/unsubscribe:
    get:
      tags:
        - Public - Subscriptions
      summary: Unsubscribe from email updates
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: HTML unsubscribe confirmation page
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Missing token
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Unknown token
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Unsubscribe failed
          content:
            text/plain:
              schema:
                type: string

  /api/auth/activate:
    post:
      tags:
        - Public - Auth
      summary: Activate an invited user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateRequest"
      responses:
        "200":
          description: Activation succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/auth/resend-activation:
    post:
      tags:
        - Public - Auth
      summary: Resend an activation email
      description: Returns a generic success payload even when the email does not belong to an inactive account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendActivationRequest"
      responses:
        "200":
          description: Generic resend response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/auth/reset-password:
    get:
      tags:
        - Public - Auth
      summary: Unsupported reset-password GET route
      deprecated: true
      description: Token validation must use `POST /api/auth/reset-password/validate` so tokens never appear in URLs.
      responses:
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - Public - Auth
      summary: Complete a password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
      responses:
        "200":
          description: Password reset completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/auth/reset-password/validate:
    post:
      tags:
        - Public - Auth
      summary: Validate a password-reset token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetTokenRequest"
      responses:
        "200":
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetTokenValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/auth/reset-password-complete:
    post:
      tags:
        - Public - Auth
      summary: Complete a password reset (canonical handler)
      description: |
        Consumes a one-time reset token and sets a new password, then
        invalidates all of the user's sessions and trusted devices. This is the
        canonical handler; `POST /api/auth/reset-password` re-exports it, so both
        URLs accept the same request and behave identically.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
      responses:
        "200":
          description: Password reset completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/auth/signup:
    post:
      tags:
        - Admin - Auth
      summary: Create an invite-backed admin account
      description: Same-origin protected pre-session route. The invite code determines the resulting role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
      responses:
        "201":
          description: Account created and activation email sent or attempted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/auth/login:
    post:
      tags:
        - Admin - Auth
      summary: Log in with email and password
      description: Same-origin protected pre-session route. On success, either a session is issued immediately or an MFA challenge is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Session issued or MFA required
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/LoginSuccess"
                  - $ref: "#/components/schemas/LoginMfaChallenge"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/auth/mfa/verify:
    post:
      tags:
        - Admin - Auth
      summary: Complete login with MFA
      description: Same-origin protected pre-session route. May also set a trusted-device cookie when `rememberDevice` is true.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MfaVerifyRequest"
      responses:
        "200":
          description: MFA verification succeeded and a session was issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginSuccess"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/auth/logout:
    post:
      tags:
        - Admin - Auth
      summary: Log out the current admin session
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      responses:
        "200":
          description: Logout response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/admin/me:
    get:
      tags:
        - Admin - Session
      summary: Get the current authenticated admin user
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: Current user response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/admin/sessions:
    get:
      tags:
        - Admin - Session
      summary: List active sessions for the current user
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: Session list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Session
      summary: Revoke one session belonging to the current user
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteSessionRequest"
      responses:
        "200":
          description: Session revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/sessions/revoke-all:
    post:
      tags:
        - Admin - Session
      summary: Revoke all sessions except the freshly issued current one
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      responses:
        "200":
          description: All other sessions revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"

  /api/admin/trusted-devices:
    get:
      tags:
        - Admin - Session
      summary: List trusted devices for the current user
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: Trusted-device list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustedDevicesResponse"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Session
      summary: Revoke one trusted device
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteTrustedDeviceRequest"
      responses:
        "200":
          description: Trusted device revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/mfa/status:
    get:
      tags:
        - Admin - MFA
      summary: Get MFA status for the current user
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: MFA status response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MfaStatusResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/admin/mfa/setup:
    post:
      tags:
        - Admin - MFA
      summary: Start MFA setup for the current user
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      responses:
        "200":
          description: TOTP secret generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MfaSetupResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/mfa/enable:
    post:
      tags:
        - Admin - MFA
      summary: Enable MFA with a TOTP code
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodeRequest"
      responses:
        "200":
          description: MFA enabled and backup codes issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupCodesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/mfa/backup-codes:
    post:
      tags:
        - Admin - MFA
      summary: Regenerate MFA backup codes
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodeRequest"
      responses:
        "200":
          description: Backup codes regenerated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupCodesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/mfa/disable:
    post:
      tags:
        - Admin - MFA
      summary: Disable MFA using a TOTP or backup code
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CodeRequest"
      responses:
        "200":
          description: MFA disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BooleanSuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events:
    get:
      tags:
        - Admin - Events
      summary: List events
      security:
        - AdminSessionCookie: []
      parameters:
        - name: archived
          in: query
          required: false
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Event list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
        - Admin - Events
      summary: Create an event
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventInput"
      responses:
        "201":
          description: Event created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}:
    patch:
      tags:
        - Admin - Events
      summary: Patch an event
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventPatchInput"
      responses:
        "200":
          description: Event updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Events
      summary: Delete an event
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmCascade:
                  type: boolean
      responses:
        "200":
          description: Event deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}/edit:
    put:
      tags:
        - Admin - Events
      summary: Update core event fields
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventEditInput"
      responses:
        "200":
          description: Event updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}/publish:
    post:
      tags:
        - Admin - Events
      summary: Publish or unpublish an event
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishStateRequest"
      responses:
        "200":
          description: Event publish state updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}/archive:
    post:
      tags:
        - Admin - Events
      summary: Archive an event
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Event archived
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}/metrics:
    get:
      tags:
        - Admin - Events
      summary: Get schedule-build metrics for one event
      security:
        - AdminSessionCookie: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Event metrics response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMetricsResponse"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}/duplicate:
    post:
      tags:
        - Admin - Events
      summary: Duplicate an event into a new draft
      description: |
        Copies the source event's performances into a new **unpublished draft**
        identified by the supplied `{ name, date, slug }`. Carries over the
        source's descriptive fields but not its publish state. Requires the
        `editor` role.
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventDuplicateRequest"
      responses:
        "201":
          description: Event duplicated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventDuplicateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/wizard:
    post:
      tags:
        - Admin - Events
      summary: Create an event, venues, and lineup in one request
      description: |
        Single-request event creation. Accepts `{ event, venues, bands }` and
        creates a **draft** event, find-or-creates each venue by name, upserts
        band profiles, and batch-inserts performances atomically. Each
        `bands[].venueIndex` is a 0-based index into the submitted `venues`
        array. **Requires the `admin` role** (venue creation is admin-only).
        Rejects intra-submission time conflicts (`409`) and past draft dates.
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventWizardRequest"
      responses:
        "201":
          description: Event created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/posters:
    post:
      tags:
        - Admin - Events
      summary: Upload an event poster image
      description: |
        Mirrors `/api/admin/bands/photos` (#616): same magic-byte MIME
        validation and 5MB cap, same R2 bucket under an `event-posters/` key
        prefix. `event_id` is optional — a poster can be uploaded while
        creating a brand-new event that has no id yet, in which case the
        caller gets back only the public URL to include in the create
        payload. When `event_id` is provided it must reference an existing
        event; the event's `poster_url` is updated immediately in that case.
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poster
              properties:
                poster:
                  type: string
                  format: binary
                event_id:
                  type: string
                  description: Optional event ID to attach the uploaded poster to
      responses:
        "200":
          description: Poster uploaded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/events/{id}/reveal-mode:
    post:
      tags:
        - Admin - Events
      summary: Toggle an event's reveal mode
      description: |
        Sets the event's `reveal_mode` flag. When on, the lineup stays embargoed
        from public surfaces until reveal. Requires the `editor` role.
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/EventId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevealModeRequest"
      responses:
        "200":
          description: Reveal mode updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevealModeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/venues:
    get:
      tags:
        - Admin - Venues
      summary: List venues
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: Venue list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueListResponse"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
        - Admin - Venues
      summary: Create a venue
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VenueInput"
      responses:
        "201":
          description: Venue created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/venues/{id}:
    put:
      tags:
        - Admin - Venues
      summary: Update a venue
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VenueInput"
      responses:
        "200":
          description: Venue updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VenueMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Venues
      summary: Delete a venue
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      responses:
        "200":
          description: Venue deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands:
    get:
      tags:
        - Admin - Bands
      summary: List performances or profile-only rows
      security:
        - AdminSessionCookie: []
      parameters:
        - name: event_id
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Band and performance list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandListResponse"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
        - Admin - Bands
      summary: Create a performance or a profile-only row
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BandInput"
      responses:
        "201":
          description: Band or performance created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands/{id}:
    put:
      tags:
        - Admin - Bands
      summary: Update a performance or profile-only row
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - name: id
          in: path
          required: true
          description: Performance ID or synthetic `profile_{id}` identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BandUpdateInput"
      responses:
        "200":
          description: Band or performance updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BandMutationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Bands
      summary: Delete a performance or profile-only row
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Band or performance deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands/{id}/resend-announcement:
    post:
      tags:
        - Admin - Bands
      summary: Resend a lineup announcement to un-notified followers
      description: >
        Re-sends the "band joined the lineup" email to verified followers who
        were not yet notified for this performance (recovers partial send
        failures from the initial announce). Never double-sends. `id` is a
        performance id.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Performance id
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      responses:
        "200":
          description: "Resend result: { success, sent, failed }"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands/bulk-preview:
    post:
      tags:
        - Admin - Bands
      summary: Preview a bulk band operation
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkPreviewRequest"
      responses:
        "200":
          description: Preview response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkPreviewResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/admin/bands/bulk:
    post:
      tags:
        - Admin - Bands
      summary: Add existing band profiles to an event lineup
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkAddRequest"
      responses:
        "200":
          description: Bulk add response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
    patch:
      tags:
        - Admin - Bands
      summary: Bulk update performances (change_time, move_venue, or delete)
      description: >
        Applies a bulk action to a set of performances. For `change_time` and
        `move_venue`, scheduling conflicts are checked **before** any write. If
        conflicts are found and `ignore_conflicts` is not `true`, the request is
        rejected with **409** and no changes are applied. Pass
        `ignore_conflicts: true` to force the apply despite conflicts. The
        `delete` action has no conflict check.
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkPatchRequest"
      responses:
        "200":
          description: Bulk operation applied successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            Scheduling conflicts detected; no changes were applied. Re-submit
            with `ignore_conflicts: true` to force the apply.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: conflicts
                  conflicts:
                    type: array
                    items:
                      $ref: "#/components/schemas/BulkConflict"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Bands
      summary: Bulk delete performances or profile-only rows
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkDeleteRequest"
      responses:
        "200":
          description: Bulk delete response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands/import:
    post:
      tags:
        - Admin - Bands
      summary: Bulk-import a lineup of bands for an event
      description: >
        Import many bands at once for one event. Every row is validated up front;
        if any row is invalid nothing is written (400 with per-row errors). Valid
        rows find-or-create band profiles by normalized name and create
        performances. The whole import is rolled back on any write failure.
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_id
                - bands
              properties:
                event_id:
                  type: integer
                  description: Event the bands are imported into
                bands:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required:
                      - name
                    properties:
                      name:
                        type: string
                      start_time:
                        type: string
                        description: "Start time in HH:MM format"
                      end_time:
                        type: string
                        description: "End time in HH:MM format"
                      venue:
                        type: string
                        description: Must match an existing venue name
                      genre:
                        type: string
      responses:
        "201":
          description: Import succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands/photos:
    post:
      tags:
        - Admin - Bands
      summary: Upload a band photo
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - photo
              properties:
                photo:
                  type: string
                  format: binary
                band_id:
                  type: string
                  description: Optional performance ID or profile ID to attach the uploaded image to
      responses:
        "200":
          description: Photo uploaded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/bands/stats/{name}:
    get:
      tags:
        - Admin - Bands
      summary: Get internal band stats and history
      security:
        - AdminSessionCookie: []
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Band stats response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/users:
    get:
      tags:
        - Admin - Users
      summary: List users
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: User list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserListResponse"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
        - Admin - Users
      summary: Create an invite-backed user invitation
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInviteRequest"
      responses:
        "201":
          description: User invitation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInviteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/users/{id}:
    patch:
      tags:
        - Admin - Users
      summary: Update a user
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: User updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericRecord"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"
    delete:
      tags:
        - Admin - Users
      summary: Delete a user
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      responses:
        "200":
          description: User deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/users/{id}/reset-password:
    post:
      tags:
        - Admin - Users
      summary: Start an admin-initiated password reset
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminResetPasswordRequest"
      responses:
        "200":
          description: Reset email sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Email delivery failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/users/{id}/toggle-status:
    post:
      tags:
        - Admin - Users
      summary: Activate or deactivate a user
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - $ref: "#/components/parameters/NumericId"
      responses:
        "200":
          description: User status updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/invite-codes:
    get:
      tags:
        - Admin - Invites
      summary: List invite codes
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: Invite-code list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteCodesResponse"
        "500":
          $ref: "#/components/responses/ServerError"
    post:
      tags:
        - Admin - Invites
      summary: Create an invite code
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteCodeCreateRequest"
      responses:
        "201":
          description: Invite code created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/invite-codes/{code}:
    delete:
      tags:
        - Admin - Invites
      summary: Revoke an invite code
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invite code revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/audit-log:
    get:
      tags:
        - Admin - Analytics
      summary: Query the audit log
      security:
        - AdminSessionCookie: []
      parameters:
        - name: user_id
          in: query
          required: false
          schema:
            type: integer
        - name: action
          in: query
          required: false
          schema:
            type: string
        - name: resource_type
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Audit-log response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/analytics/subscriptions:
    get:
      tags:
        - Admin - Analytics
      summary: Get aggregate subscription analytics
      security:
        - AdminSessionCookie: []
      responses:
        "200":
          description: Subscription analytics response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionAnalyticsResponse"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/flush-announce-digest:
    post:
      tags:
        - Admin - Maintenance
      summary: Flush the pending band-announcement digest queue
      description: |
        Groups pending `band_announce_queue` entries by `(email, event)` and
        sends one digest email per fan per event, recording each successful send
        in the per-follower idempotency ledger so resend never double-sends.
        Call after a batch of announce toggles. Requires the `editor` role and a
        configured email provider (otherwise `400`).
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      responses:
        "200":
          description: Digest flushed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlushAnnounceDigestResponse"
        "400":
          description: Email provider not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/admin/maintenance/cleanup-sessions:
    post:
      tags:
        - Admin - Maintenance
      summary: Run the retention cleanup job
      security:
        - AdminSessionCookie: []
          CsrfToken: []
      responses:
        "200":
          description: Cleanup completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CleanupSessionsResponse"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    AdminSessionCookie:
      type: apiKey
      in: cookie
      name: __Host-session_token
      description: Deployed admin session cookie. Local Pages development uses `session_token`.
    CsrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: Echo the `csrf_token` cookie for authenticated POST, PUT, PATCH, and DELETE admin requests.

  parameters:
    NumericId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    EventId:
      name: id
      in: path
      required: true
      schema:
        type: integer

  responses:
    BadRequest:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Authentication failed or no active session exists
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Request was blocked by RBAC, CSRF validation, or same-origin validation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Requested resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Resource state conflicts with the request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PublicDataUnavailable:
      description: Public publishing is disabled for this route
      headers:
        Retry-After:
          schema:
            type: string
            example: "3600"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServerError:
      description: Unexpected server or database error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    GenericRecord:
      type: object
      additionalProperties: true

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
          nullable: true
        code:
          type: string
          nullable: true

    BooleanSuccessResponse:
      type: object
      properties:
        success:
          type: boolean

    MessageResponse:
      type: object
      properties:
        success:
          type: boolean
          nullable: true
        message:
          type: string

    AuthUser:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        role:
          type: string
          enum:
            - viewer
            - editor
            - admin

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    LoginSuccess:
      type: object
      required:
        - success
        - user
      properties:
        success:
          type: boolean
        user:
          $ref: "#/components/schemas/AuthUser"

    LoginMfaChallenge:
      type: object
      required:
        - mfaRequired
        - mfaToken
        - user
      properties:
        mfaRequired:
          type: boolean
        mfaToken:
          type: string
        user:
          type: object
          properties:
            email:
              type: string
              format: email
            name:
              type: string
              nullable: true
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            role:
              type: string
              enum:
                - viewer
                - editor
                - admin

    SignupRequest:
      type: object
      required:
        - email
        - password
        - firstName
        - lastName
        - inviteCode
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        inviteCode:
          type: string

    SignupResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        requiresActivation:
          type: boolean
        email:
          $ref: "#/components/schemas/GenericRecord"

    MfaVerifyRequest:
      type: object
      required:
        - mfaToken
        - code
      properties:
        mfaToken:
          type: string
        code:
          type: string
        rememberDevice:
          type: boolean
          default: false

    CodeRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string

    MeResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/AuthUser"
        session:
          type: object
          nullable: true
          properties:
            expires_at:
              type: string
              nullable: true
        authenticated:
          type: boolean

    SessionInfo:
      type: object
      properties:
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        created_at:
          type: string
          nullable: true
        last_activity_at:
          type: string
          nullable: true
        expires_at:
          type: string
          nullable: true
        current:
          type: boolean

    SessionsResponse:
      type: object
      properties:
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionInfo"

    DeleteSessionRequest:
      type: object
      required:
        - sessionId
      properties:
        sessionId:
          type: string

    TrustedDevice:
      type: object
      properties:
        id:
          type: integer
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        created_at:
          type: string
          nullable: true
        last_used_at:
          type: string
          nullable: true
        expires_at:
          type: string
          nullable: true

    TrustedDevicesResponse:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: "#/components/schemas/TrustedDevice"

    DeleteTrustedDeviceRequest:
      type: object
      required:
        - deviceId
      properties:
        deviceId:
          type: integer

    MfaStatusResponse:
      type: object
      properties:
        totpEnabled:
          type: boolean
        setupPending:
          type: boolean
        hasBackupCodes:
          type: boolean

    MfaSetupResponse:
      type: object
      properties:
        secret:
          type: string
        otpauthUrl:
          type: string

    BackupCodesResponse:
      type: object
      properties:
        success:
          type: boolean
        backupCodes:
          type: array
          items:
            type: string

    ScheduleBand:
      type: object
      properties:
        id:
          type: string
        performance_id:
          type: integer
        band_profile_id:
          type: integer
        name:
          type: string
        genre:
          type: string
          nullable: true
        venue:
          type: string
          nullable: true
        date:
          type: string
        startTime:
          type: string
        endTime:
          type: string
        url:
          type: string
          nullable: true

    ScheduleEvent:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        date:
          type: string
        slug:
          type: string
        ticket_url:
          type: string
          nullable: true
        poster_url:
          type: string
          nullable: true
          description: >-
            Event poster image URL, sanitized via normalizeHttpUrl on read
            (#655). Absent/null when no poster was uploaded for this event.
        is_archived:
          type: boolean
        theme_colors:
          type: string
          nullable: true
        venue_info:
          type: string
          nullable: true
        doors_json:
          type: string
          nullable: true
          description: >-
            JSON object mapping festival date "YYYY-MM-DD" to 24-hour "HH:MM"
            gates-open time, e.g. {"2026-08-02":"16:00"}. Absent/null means no
            doors info.
        social_links:
          nullable: true
          oneOf:
            - type: string
            - $ref: "#/components/schemas/GenericRecord"

    ScheduleResponse:
      type: object
      properties:
        bands:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleBand"
        event:
          $ref: "#/components/schemas/ScheduleEvent"

    PublicEventSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        date:
          type: string
        description:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        ticket_url:
          type: string
          nullable: true
        poster_url:
          type: string
          nullable: true
        is_upcoming:
          type: integer
        band_count:
          type: integer
        venue_count:
          type: integer

    PublicEventsResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/PublicEventSummary"
        filters:
          $ref: "#/components/schemas/GenericRecord"
        count:
          type: integer
        generated_at:
          type: string

    VenueSummary:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        name:
          type: string
        address:
          type: string
          nullable: true
        band_count:
          type: integer
          nullable: true
      additionalProperties: true

    TimelineEvent:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        slug:
          type: string
        date:
          type: string
        end_date:
          type: string
          nullable: true
          description: Last day of a multi-day event (YYYY-MM-DD); null for single-day events.
        status:
          type: string
          nullable: true
        ticket_url:
          type: string
          nullable: true
        poster_url:
          type: string
          nullable: true
        band_count:
          type: integer
        venue_count:
          type: integer
        bands:
          type: array
          items:
            $ref: "#/components/schemas/GenericRecord"
        venues:
          type: array
          items:
            $ref: "#/components/schemas/VenueSummary"

    TimelineResponse:
      type: object
      properties:
        now:
          type: array
          items:
            $ref: "#/components/schemas/TimelineEvent"
        upcoming:
          type: array
          items:
            $ref: "#/components/schemas/TimelineEvent"
        past:
          type: array
          items:
            $ref: "#/components/schemas/TimelineEvent"

    EventDetailsResponse:
      type: object
      properties:
        event:
          $ref: "#/components/schemas/GenericRecord"
        bands:
          type: array
          items:
            $ref: "#/components/schemas/GenericRecord"
        venues:
          type: array
          items:
            $ref: "#/components/schemas/VenueSummary"
        band_count:
          type: integer
        venue_count:
          type: integer

    PublicBandProfile:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        origin:
          type: string
          nullable: true
        social:
          $ref: "#/components/schemas/GenericRecord"
        performances:
          type: array
          items:
            $ref: "#/components/schemas/GenericRecord"

    PublicBandStatsResponse:
      type: object
      additionalProperties: true

    MetricsBatchRequest:
      type: object
      properties:
        events:
          type: array
          maxItems: 50
          items:
            type: object
            properties:
              event:
                type: string
                enum:
                  - page_view
                  - event_view
                  - artist_profile_view
                  - social_link_click
                  - ticket_click
                  - share_event
                  - filter_use
              props:
                $ref: "#/components/schemas/GenericRecord"

    ScheduleBuildRequest:
      type: object
      required:
        - event_id
        - user_session
      properties:
        event_id:
          type: integer
        performance_ids:
          type: array
          maxItems: 50
          items:
            type: integer
        band_ids:
          type: array
          maxItems: 50
          items:
            type: integer
        user_session:
          type: string

    SubscriptionRequest:
      type: object
      required:
        - email
        - city
        - genre
        - frequency
      properties:
        email:
          type: string
          format: email
        city:
          type: string
        genre:
          type: string
        frequency:
          type: string
          enum:
            - daily
            - weekly
            - monthly
        turnstileToken:
          type: string
          nullable: true

    SubscriptionMessageResponse:
      type: object
      properties:
        message:
          type: string
        error:
          type: string
          nullable: true

    ActivateRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string

    ResendActivationRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    ResetTokenRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string

    ResetTokenValidationResponse:
      type: object
      properties:
        valid:
          type: boolean
        user:
          type: object
          properties:
            email:
              type: string
              format: email
            name:
              type: string
              nullable: true
        expiresAt:
          type: string

    ResetPasswordRequest:
      type: object
      required:
        - token
        - newPassword
      properties:
        token:
          type: string
        newPassword:
          type: string

    EventListResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/GenericRecord"

    EventInput:
      type: object
      required:
        - name
        - date
        - slug
      properties:
        name:
          type: string
        date:
          type: string
        slug:
          type: string
        status:
          type: string
          enum:
            - draft
            - published
            - archived
        description:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        ticket_url:
          type: string
          nullable: true
        venue_info:
          nullable: true
          oneOf:
            - type: string
            - $ref: "#/components/schemas/GenericRecord"
        social_links:
          nullable: true
          oneOf:
            - type: string
            - $ref: "#/components/schemas/GenericRecord"
        theme_colors:
          nullable: true
          oneOf:
            - type: string
            - $ref: "#/components/schemas/GenericRecord"
        doors_json:
          type: string
          nullable: true
          description: >-
            JSON object mapping festival date "YYYY-MM-DD" to 24-hour "HH:MM"
            gates-open time, e.g. {"2026-08-02":"16:00"}. Absent/null means no
            doors info.

    EventPatchInput:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
        date:
          type: string
        status:
          type: string
          enum:
            - draft
            - published
        description:
          type: string
          nullable: true
        city:
[...]
